% -*- Erlang -*-
% vim: ts=4 sw=4 et ft=erlang
{erl_opts, []}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{pre_hooks,[
        {"linux|bsd|darwin|solaris", compile, "./compat.escript"},
        {"win32", compile, "escript.exe compat.escript"}
]}.

{deps, [
    {rekt, "", {git, "git://github.com/nitrogen/rekt",  {branch, master}}},
    {qdate, "", {git, "git://github.com/nitrogen/qdate", {branch, master}}}
]}.
