/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

html, body { height: 100%; }
body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
body { background: #fff url(gr_bg_gmail-ui.png) 50% 0 no-repeat; color: #000; margin: 60px 0 0; }
img { border: none; }
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}
a { color: #0065CC; }
	
/* Drag drop upload styles */
input[type=checkbox] { margin: 0; }

#output-listing01
{
	width: 733px;
	border: 4px solid #6694E3;
	border-width: 0 4px;
	background: #E0ECFF;
	margin: -32px auto 0;
	padding: 5px 0 3px;
	position: relative;
	padding-left: 60px;
	left: 78px;
	z-index: 2;
	font-size: 13px;
	min-height: 27px;
	display: none;
}
	#output-listing01 li { display: block; list-style: none; margin: 0 0 3px; }
		#output-listing01 .loader01 
		{ 
			width: 102px; 
			height: 13px; 
			border: 1px solid #999999; 
			background: #fff; 
			display: inline-block; 
			position: relative;
			top: 2px;
		}
		#output-listing01 .loader01 div
		{ 
			width: 0; 
			height: 11px; 
			border: 1px solid #fff; 
			background: #6787e3; 
			display: inline-block; 
		}
	
#output-listing01 + img 
{
	margin: -32px auto 0;
	display: block;
	position: relative;
	left: 78px;
	z-index: 1;
}
#drop  
{ 
	visibility: hidden;
	width: 771px;
	height: 62px;
	color: #000;
	margin: 212px auto 0;
	background: #B5EDBC;
	border: 1px solid green;
	padding: 10px;
	position: relative;
	left: 78px;
	text-align: center;
	z-index: 3;
	-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
}
	#drop h1 { font-size: 18px; margin-bottom: 13px; }
	#drop p { font-size: 16px; margin: 0; }
	#drop input {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
	}